{% extends '::test.html.twig' %}

{% block C %}

    <div class="intro-texts" style="text-align: center">
        <h2 class="text-white" style="color: #d32f2f;">Bienvenue les Espritiens !</h2>
        <p>Ce site a pour objectif:
            <br>
            <il>D'enrichisser vos connaissances à travers nos cours partagés.</il>
            <br>
            <il>De vous facilitez le logement et la mobilité à Esprit.</il>
            <br>
            <il>De suivre les actualités d'Esprit...</il>
    </div>


{% endblock %}